body {
    min-width: 400px;
    min-height: 400px;
    max-width: 400px;
    max-height: 400px;
    background-color: #eeedef;
    font-family: 'Ubuntu', sans-serif;
    font-size: 11pt;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 15pt;
    display: inline;
}

h5 {
    display: inline;
}

#relatedArticles {
    word-wrap: normal;
}

#title {
    position: relative;
    left: 35%;
    font-family: 'Montserrat', sans-serif;
    font-size: 13pt;
    color: #cc5200;
}

.article:hover {
    background-color: #f5f4f6;
}

/* the below CSS (.article-link) is adapted from: https://gist.github.com/groenewege/3957636 */
.article-link {
    display: inline;
    position: relative;
    padding-left: 6px;
    text-decoration: none;
    color: #1a7ecc;
    text-shadow: 0 1px 1px rgba(255,255,255,0.9);
}

.article-link:hover {
    color: #3C9CE7;
}

.article-link:before {
    content: "\25BA";
    font-size: 80%;
    display: inline;
    padding-right: 3px;
    pointer-events: none;
}

.article-link:hover:before {
    color: #F2BF97;
}

/* the following loader (.loader) was adapted from: http://projects.lukehaas.me/css-loaders/ */
.loader {
    font-size: 10px;
    text-indent: -9999em;
    width: 6em;
    height: 6em;
    border-radius: 50%;
    background: #cc5200;
    background: -moz-linear-gradient(left, #cc5200 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #cc5200 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #cc5200 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #cc5200 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #cc5200 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loader:before {
    width: 50%;
    height: 50%;
    background: #cc5200;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.loader:after {
    background: #0066cc;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
